<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        body        { padding-top:30px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-btc"></span> Traders PM</h1>
		<p>Every five minutes your orders are checked to see if they completed, if so an alert is sent out to you.</p>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                    <p>
                        <strong>ID:</strong> <%= user.google.id %><br>
                        <strong>Token:</strong> <%= user.google.token %><br>
                        <strong>Email:</strong> <%= user.google.email %><br>
                        <strong>Name:</strong> <%= user.google.name %>
                    </p>
            </div>
        </div>
		<div class="col-sm-6">
            <div class="well">
				<% if(user.vip === "Purchased") { %>
					<h3 class="text-danger"><span class="fa fa-unlock-alt"></span> VIP Access</h3>
				<% } else if(user.vip === "Pending") { %> 
					<h3 class="text-danger"><span class="fa fa-spinner"></span> VIP Access</h3>
				<% } else { %> 
					<h3 class="text-danger"><span class="fa fa-lock"></span> VIP Access</h3>
				<% } %>
						<p>
							VIP Access gets you SMS and desktop notifications! ฿0.01<br><br>
							<strong>VIP Access:</strong> <%= user.vip %><br>
							<form action="https://www.coinpayments.net/index.php" method="post">
								<input type="hidden" name="cmd" value="_pay_simple">
								<input type="hidden" name="reset" value="1">
								<input type="hidden" name="merchant" value="683f37dbd0b7ea726e35c056d0315a85">
								<input type="hidden" name="item_name" value="VIP Membership Test">
								<input type="hidden" name="item_desc" value="Test VPS Membership - Please Use Login Email">
								<input type="hidden" name="currency" value="USD">
								<input type="hidden" name="amountf" value="1.00000000">
								<input type="hidden" name="want_shipping" value="0">
								<input type="hidden" name="success_url" value="http://traders.pm/profile">
								<input type="hidden" name="cancel_url" value="http://traders.pm/profile">
								<input type="hidden" name="ipn_url" value="http://traders.pm/auth/coinpayments">
								<input type="image" src="https://www.coinpayments.net/images/pub/buynow-wide-yellow.png" alt="Buy Now with CoinPayments.net">
							</form>
						</p>
            </div>
        </div>
	</div>
    <div class="row">

		<div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-user-circle-o"></span> User Settings</h3>
                    <p>
                        <strong>Phone:</strong> <%= user.number %><br>
                        <strong>API Key:</strong> <%= user.key %><br>
                        <strong>API Secret:</strong> <%= user.secret %>
                    </p>
            </div>
        </div>
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-danger"><span class="fa fa-cogs"></span> Update Settings</h3>
					<form method="post" action="/add">
						<strong>Add SMS Number:</strong> <input type="text" name="number" value="<%= user.number %>"><br>
						<strong>Add API Key:</strong> <input type="text" name="key" value="<%= user.key %>"><br>
						<strong>Add API Secret:</strong> <input type="text" name="secret" value="<%= user.secret %>"><br>
						<input type="hidden" name="gid" value="<%= user.google.id %>">
						<input type="submit" value="Add">
					</form>
			</div>
		</div>
    </div>
    <div class="row">
		<div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-thumbs-down"></span> Today's Pending Orders</h3>
				<% for(var i=0; i < user.pOrders.length; i++) { %>
					<li>
						<%= user.pOrders[i] %>
					</li>
				<% } %>
            </div>
        </div>
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-danger"><span class="fa fa-thumbs-up"></span> Today's Completed Orders</h3>
				<% for(var i=0; i < user.cOrders.length; i++) { %>
					<li>
						<%= user.cOrders[i] %>
					</li>
				<% } %>
			</div>
		</div>
    </div>
</div>
</body>
</html>

